/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.timeline-block{
    padding: 0px;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 3px;
    border-color: var(--interactive-accent);
}
.timeline-title {
    text-align: center;
    background-color:var(--interactive-accent);
}
.timeline-row{
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
}
.timeline-row-time{
    width: 80px;
    display: flex;
    align-items: center;
}
.timeline-row-content{
    flex: 1;
}

